h2 {
 font-size: 23px;
 color: #4f98ff;
 letter-spacing: -.02em;
 margin-top: 0;
 margin-bottom: 0
}

body {
 margin: 0 10%;
 padding: 0
}

.header_table,body,h2,table {
 font-family: Verdana,sans-serif;
 background-color: #fff
}

.header_table,body,table {
 font-size: 13px;
 color: #525556
}

.header_table {
 font-size: 11px;
 font-weight: 700;
 background-color: #a7b2c4
}

ul {
 list-style: disc
}

.body_comment,.body_link {
 color: #448ad6;
 background-color: #fff
}

.body_comment {
 color: gray;
 font-size: 10px
}

.footer,.top {
 background-image: url(../img/line3.png);
 background-repeat: repeat-x
}

.top {
 background-image: url(../img/linex.png);
 height: 6px;
 line-height: 0;
 font-size: 0
}

.header_link,.opensource_link {
 color: #fff;
 font-family: Verdana,sans-serif;
 font-weight: 700;
 font-size: 11px;
 background-color: #a7b2c4
}

.opensource_link {
 /*color:#FFBA0A;*/
 color: #daff00
}

pre {
 white-space: -o-pre-wrap; /* Opera (Older) */
 white-space: -pre-wrap; /* Opera (Old) */
 white-space: -moz-pre-wrap;
 white-space: pre-wrap;
 word-wrap: break-word /* IE 5.5 to 7 */
}

.bordered,a img.bordered {
 border: 20px solid #fff
}

#xxx:hover {
 background-color: red
}

#xxx:hover,a:hover css.bordered,a:hover img.bordered {
 border: 20px solid #d3d3d3;
 -moz-border-radius: 7px;
 -webkit-border-radius: 7px;
 border-radius: 7px
}