#lightbox {
 position: absolute;
 left: 0;
 width: 100%;
 z-index: 100;
 text-align: center;
 line-height: 0
}

#lightbox a img {
 border: 0
}

#outerImageContainer {
 position: relative;
 background-color: #fff;
 width: 250px;
 height: 250px;
 margin: 0 auto
}

#imageContainer {
 padding: 10px
}

#hoverNav,#loading {
 position: absolute;
 left: 0;
 width: 100%
}

#loading {
 top: 40%;
 height: 25%;
 text-align: center;
 line-height: 0
}

#hoverNav {
 top: 0;
 height: 100%;
 z-index: 10
}

#imageContainer>#hoverNav {
 left: 0
}

#hoverNav a {
 outline: 0
}

#nextLink,#prevLink {
 width: 49%;
 height: 100%;
 background: url(../images/blank.gif) no-repeat;
 display: block
}

#prevLink {
 left: 0;
 float: left
}

#nextLink {
 right: 0;
 float: right
}

#prevLink:hover,#prevLink:visited:hover {
 background: url(../images/prev.gif) left 50% no-repeat
}

#nextLink:hover,#nextLink:visited:hover {
 background: url(../images/next.gif) right 50% no-repeat
}

#nextLinkText,#prevLinkText {
 color: #ff9834;
 font-weight: 700;
 text-decoration: none
}

#nextLinkText {
 padding-left: 20px
}

#prevLinkText {
 padding-right: 20px
}

.ontop #imageData {
 padding-top: 5px
}

#imageDataContainer {
 font: 10px Verdana,sans-serif;
 background-color: #fff;
 margin: 0 auto;
 line-height: 1.4em
}

#imageData {
 padding: 0 10px
}

#imageData #imageDetails {
 width: 70%;
 float: left;
 text-align: left
}

#imageData #caption {
 font-weight: 700
}

#imageData #numberDisplay {
 display: block;
 clear: left;
 padding-bottom: 1em
}

#imageData #bottomNavClose {
 width: 66px;
 float: right;
 padding-bottom: .7em
}

#imageData #helpDisplay {
 clear: left;
 float: left;
 display: block
}

#overlay {
 background: #000 url(../images/blackdot.gif);
 position: absolute;
 top: 0;
 left: 0;
 z-index: 90;
 width: 100%;
 height: 500px;
 background-color: #000;
 filter: alpha(opacity=60);
 -moz-opacity: .6;
 opacity: .6
}

.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden
}

* html>body .clearfix {
 display: inline-block;
 width: 100%
}

* html .clearfix {
 /* Hides from IE-mac \*/
 height: 1%
/* End hide from IE-mac */
}

#lightboxIframe,#overlay {
 display: none
}